In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/media/amal/HDD-volume/Machine learning/EMI_dataset.csv')

In [7]:
data=data.drop(columns=['candidate_id','country','origination_date','number_of_borrowers'],axis=1)

In [9]:
data

,organization,interest_rate,unpaid_principal_bal,loan_term,first_payment_date,loan_to_value,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,...,E4,E5,E6,E7,E8,E9,E10,E11,E12,E13
0,"Turner, Baldwin and Rhodes",4.250,214000,360,May-12,95,22,694,C86,30,...,0,0,0,1,0,0,0,0,0,1
1,"Swanson, Newton and Miller",4.875,144000,360,Mar-12,72,44,697,B12,0,...,0,0,0,0,0,0,0,1,0,1
2,Thornton-Davis,3.250,366000,180,Mar-12,49,33,780,B12,0,...,0,0,0,0,0,0,0,0,0,1
3,OTHER,4.750,135000,360,Apr-12,46,44,633,B12,0,...,0,0,0,0,0,1,1,1,1,1
4,OTHER,4.750,124000,360,Apr-12,80,43,681,C86,0,...,3,4,5,6,7,8,9,10,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116053,Browning-Hart,4.125,153000,360,Apr-12,88,22,801,A23,25,...,0,0,0,0,0,0,0,0,0,0
116054,OTHER,3.000,150000,120,Mar-12,35,37,796,B12,0,...,0,0,0,0,0,0,0,0,0,0
116055,OTHER,3.875,166000,360,Apr-12,58,49,724,B12,0,...,0,0,0,0,0,0,0,0,0,0
116056,OTHER,4.250,169000,360,Apr-12,74,13,755,A23,0,...,0,0,0,0,0,0,0,0,0,0
116057,Thornton-Davis,3.375,252000,180,Mar-12,29,40,770,A23,0,...,0,0,0,0,0,0,0,0,0,0